repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json

  - repo: local
    hooks:
      - id: no-emojis
        name: No Emojis
        entry: "[\U00010000-\U0010ffff]"
        language: pygrep
        types: [text]
        exclude: ^\.git/
